<app-header (filter)="onFilterChange($event)"></app-header>
<div class="news">
  <mat-accordion *ngIf="news.length; else other_content">
    <mat-expansion-panel
      *ngFor="let data of news; first as isFirst; trackBy: trackByMethod"
      [expanded]="isFirst"
      class="news-card"
    >
      <mat-expansion-panel-header class="news-card__header">
        <mat-panel-title class="news-card__header-title">
          <p>
            {{ data.title }}
          </p>
          <mat-chip-list>
            <mat-chip *ngFor="let tag of data.category" class="news-card__chip">
              {{ tag }}
            </mat-chip>
          </mat-chip-list>
        </mat-panel-title>
        <mat-panel-description class="news-card__header-sub-title">
          <i>{{ data.pubDate | date: "MMM d, y, h:mm a" }}</i>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-news-item [data]="data"></app-news-item>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<ng-template #other_content
  >No Available news. Please try to change filters.</ng-template
>
