<div class="header">
  <p class="header__title">My News</p>
  <select
    class="header__country"
    [(ngModel)]="selectedCountry"
    name="country"
    (change)="filter.emit({selectedCountry, selectedLanguage})"
  >
    <option *ngFor="let option of countryOptions" [value]="option.value">
      {{ option.id }}
    </option>
  </select>
  <select
    class="header__lang"
    [(ngModel)]="selectedLanguage"
    name="language"
    (change)="filter.emit({selectedCountry, selectedLanguage})"
  >
    <option *ngFor="let option of languageOptions" [value]="option.value">
      {{ option.id }}
    </option>
  </select>
</div>
